html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .page {
    width: 1150px;
    margin: auto;
}

  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    height: 30px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.date {
    width: 420px;
    display: flex;
    padding-left:20px;
    font-size: 15px;
    font-weight: 700;
    margin-right: 10px
}

.date2 {
    display: flex;
}

@media screen and (max-width:577px) {
    .date {
        flex-direction: column;
        line-height: 20px;
    }
    header {
        height: 60px;
    }
}

@media screen and (max-width:400px) {
  .date2 {
    flex-direction: column;
  }
  header {
    height: 90px;
  }
}

.reseaux {
    width: 25%;
    display: flex;
    justify-content: space-around;
    padding-right: 20px;
}

@media screen and (max-width:850px) {
    .reseaux {
        width:212px;
    }
}

.reseaux img {
    width: 20px;
}

@media screen and (max-width:680px) {
    .youtube {
        display: none;
    }
    .reseaux {
        width:172px;
    }
}

@media screen and (max-width:665px) {
    .pinterest {
        display: none;
    }
    .reseaux {
        width:132px;
    }
}

@media screen and (max-width:650px) {
    .google {
        display: none;
    }
}

.ban {
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 20px;
    align-items: center;
}

.logo {
    display: flex;
    width: 218.5px;
}

.bantop {
    width: 728px
}

@media screen and (max-width:728px) {
    .bantop {
        width: 100%;
    }
}

@media screen and (max-width:1021px) {
    .ban {
        flex-direction: column;
        align-items: center;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    border-top: 3px solid #356ed3;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    width: 580px;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.home {
    width: 35px;
    height: 35px;
    background-color: #356ed3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home > img {
    width: 20px;
    height: 20px;
}

.search {
    display: flex;
    width: 70px;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.search img {
    width: 25px;
    height: 25px;
}

.menu p {
    color: white;
    font-weight: 700;
    font-size: 15px;
}

.burger {
    width:35px;
    height:35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger img {
    width: 20px;
    height: 20px;
}

@media screen and (min-width:620px) {
    .burger img {
        display: none;
    }
}

@media screen and (max-width:620px) {
    .menu p {
        display: none;
    }
    .menu {
        width: 80px;
    }
}

main {
    margin-left:10px;
    margin-right: 10px;
}

  .conteneur1 {
    display:flex;
    padding:10px;
    width: 1130px;
  }

  
@media screen and (max-width:832px) {
    .conteneur1 {
        flex-wrap: wrap;
    }
}

  .conteneur1>div {
    width:50%;
    height:auto;
  }
  
  .conteneur2>div {
    width:50%;
  }
  
  .conteneur3>div {
    height:50%
  }
  
  .conteneur3 img {
    width:100;
  }
  
  .conteneur4>div {
    height:50%;
  }
  
  .conteneur4 img {
    width:100%
  }
  
  .conteneur2 {
    display:flex;
  }
  
  .conteneur3, .conteneur4 {
    display:flex;
    flex-direction:column;
  }
  
  img {
    width:100%;
    height:100%;
    object-fit:cover;
  }
  
  .image1 {
    position:relative;
    display:flex;
    align-items: flex-end;
  }
  
  .image2 {
    padding-right:5px;
    padding-bottom:5px;
  }
  
  .image3 {
    padding-top:5px;
    padding-right:5px;
  }
  
  .image4 {
    padding-bottom:5px;
  }
  
  .image5 {
    padding-top:5px;
  }
  
  .text {
    position:absolute;
    display:flex;
    flex-direction:column;
    margin:20px;
    width:100%;
  }
  
  .rubrique {
    display:flex;
  }
  
  .bouton1, .bouton2 {
    background-color: coral;
    width:80px;
    height:30px;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:5px;
    color:white;
  }
  
  .bouton2 {
    background-color:#356ed3;
  }
  
  .bouton1 {
    margin-left:0;
  }
  
  h1 {
    color:white;
    font-size:25px;
    line-height:30px;
  }
  
  .coms {
    display:flex;
    color:white;
    line-height:20px;
    font-size:12px;
    width:280px;
  }
  
  .cal, .profil, .bulle {
    height:10px;
    width:13px;
    width: auto;
    margin-right:10px;
    margin-left:10px;
  }
  
  .image2, .image3, .image4, .image5 {
    position:relative;
    display:flex;
    align-items: flex-end;
  }
  
  h2 {
    color:white;
    font-size:20px;
    line-height:30px;
  }
  
  .conteneur5 {
    display:flex;
    padding-top:20px;
    justify-content: space-between;
  }
  
  .conteneur6 {
    width:70%;
    display:flex;
    flex-direction:column;
  }
  
  .conteneur7 {
    border-bottom:3px solid green;
    margin-left:10px;
    margin-right: 10px;
  }
  
  .titre {
    background-color:green;
    width: 100px;
    height: 35px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:20px;
  }
  
  .conteneur8 {
    display:flex;
    padding-top : 10px;
  }
  
  .image6 {
    width:50%;
    padding:10px;
  }
  
  img {
    width:100%;
    height:100%;
    object-fit:cover;
  }
  
  .conteneur9 {
    width:50%;
    display:flex;
    flex-direction:column;
  }
  
  .conteneur10, .conteneur11 {
    display:flex;
    height:50%;
  }
  
  .image7{
    padding:10px;
    width:40%;
  }
  
  .image8 {
    width: 40%;
    padding:10px;
  }
  
  .coms2 {
    display:flex
  }
  
  .image9 {
    width:300px;
    height: 250px;
    margin-right: 10px;
  }
  
  .titre2 {
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:60%;
  }
  
  h3 {
    font-size:20px;
  }
  
  .coms2 {
    padding-top:10px;
    font-size:12px;
  }
  
  .cal2, .bulle2 {
      height:10px;
      width:13px;
      width: auto;
      margin-right:10px;
      margin-left:10px;
    }

    @media screen and (max-width:1150px) {
        .page {
            width: 100%;
        }
        .conteneur1 {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: auto;
        }
        .conteneur2 {
            padding-top: 10px;
        }
        .conteneur1>div {
            width: 100%;
        }
    }

    @media screen and (min-width:1150px) {
        .conteneur2 {
            padding-left:10px;
          }
    }

    @media screen and (max-width:633px) {
        .conteneur2 {
            flex-direction: column;
        }
        .conteneur2 > div {
            width: 100%;
        }
        .conteneur4 {
            padding-top: 10px;
        }
    }

    @media screen and (min-width:633px) {
        .image4, .image5 {
            padding-left:5px;
          }
    }

    @media screen and (max-width:1072px) {
        .conteneur8 {
            flex-direction: column;
            width: 100%;
        }
        .image6 {
            width: 100%;
        }
        .conteneur9 {
            width: 100%;
        }
        .conteneur5 {
            flex-direction : column;
            justify-content: center;
            align-items: center;
        }
        .conteneur6 {
            width: 100%;
        }
    }

 